<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "bootstrap-theme.min" %>
  <%= stylesheet_link_tag "morris" %>
  <%= stylesheet_link_tag "teachback" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Abel" %>

  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "html5shiv" %>
  <%= javascript_include_tag "jquery.tablesorter" %>
  <%= javascript_include_tag "raphael-min" %>
  <%= javascript_include_tag "respond.min" %>
  <%= javascript_include_tag "tables" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
